<footer class="bg-white rounded-lg shadow mt-12">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <img src="<%= image_path('dog.png') %>" class="h-8" alt="Flowbite Logo" />
    <span class="text-sm text-gray-500 sm:text-center ">© <%= Date.current.year %> <a href="https://www.linkedin.com/in/hadrienblanc/" class="hover:underline">HB™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500  sm:mt-0">
      <li>
        <a href="/" class="hover:underline me-4 md:me-6">Home</a>
      </li>
      <li>
        <a href="/about" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="https://github.com/hadrienblanc/dogs" target="_blank" class="hover:underline me-4 md:me-6">Source</a>
      </li>
    </ul>
  </div>
</footer>
